* {
    border: 0;
    padding: 0;
    margin: 0;
   }

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 26% 0 26%;
    background-color: white;
   }
body:fullscreen, body:-webkit-full-screen, body:-moz-full-scree {
    background-color: rgb(255, 255, 255);
}


.information-bar {
    width: 100%;
    position: relative;
    max-height: 80px;
    overflow: hidden;
    padding:  20px 0 10px 0;
    
}

.information-bar::after {
    content: '';
    display: table;
    clear: both;
}


.question-area {
    position: fixed;
    height: 160px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(158, 158, 158);
    left: calc(100% / 2 - 273px);
    top: calc(50% - 475px);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.score-area {
    float: left;
    background-color: white;
    border: 1px solid #818181;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score-area > p {
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
    width: 100%;
    padding-left: 30px;
}

.controls-area {
    float: right;
    display: inline;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    
}

.btn {  
    vertical-align: top;
    width: 140px;
    height: 60px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0 10px;
    box-sizing: content-box;
}

.btn > i{
    padding-right: 10px;
    text-align: left;
}

.btn--newgame {
    background-color: green;
    border: 1px solid rgb(0, 202, 0);

}

.btn--help {
    background-color: rgb(131, 3, 206);
    border: 1px solid rgb(255, 68, 68);

}

.btn--more-lives {
    background-color: rgb(0, 132, 194);
    border: 1px solid rgb(37, 153, 207);
}
.btn--close {
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(31, 31, 31);
    margin: 10px 0;
    font-size: 1em;
    width: 100px;
    height: 40px;
}

.game-area {
    position: fixed;
    padding: 0 10px 10px 10px;
    margin-top: 50px;

}

.toolbar {
    background-color: rgb(153, 153, 153);;
    right: 170px;
    position: absolute;
    text-align: center;
    color: white;
    border-radius: 0 0 15px 15px;
}

.toolbar > i {
    font-size: 3em;
    padding: 10px 10px 10px 10px;
    margin: 0;
}


.periodic-table {
    display: grid;
    grid-template-rows: repeat(7, 65px) 20px 65px 65px;
    grid-template-columns: repeat(18, 60px);
    grid-auto-flow: row;
    grid-gap: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
    padding: 10px 30px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 25px;
    box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.6);
}

.element-tile {
    background-color: black;
    width: 60px;
    height: 65px;
    margin: -1px 0 0 1px;
    padding: 1px 0 0 1px;
    font-size: 1.2em;
    border-radius: 3px;
}

.element-tile:hover {
    box-shadow: 0px 1px 8px 0px rgba(119, 119, 119, 0.35);
}

.element-tile p {
    text-align: center;
    height: 64px;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    margin: 0 1px 0 0;
    color: rgb(0, 0, 0);
}
.element-tile p::after  {
    content: "" attr(data-element-symbol) "";


}

.element-tile::after {
    content: "" attr(data-element-number) "";
    font-size: 0.8em;
    font-weight: 600;
    color: #000000;
    position: relative;
    bottom: calc(50% + 33px);
    left: 3px;
}

#He, .group1 p, .group2 p {
    background-color: tomato;
}
.group1 {
    grid-column: 1;
}
.group2 {
    grid-column: 2;
}
.group3 p, .group4 p, .group5 p, .group6 p, .group7 p, .group8 p,
.group9 p, .group10 p, .group11 p, .group12 p {
    background-color: skyblue;
}
.group3 {
    grid-column: 3;
}
.group4 {
    grid-column: 4;
}
.group5 {
    grid-column: 5;
}
.group6 {
    grid-column: 6;
}
.group7 {
    grid-column: 7;
}
.group8 {
    grid-column: 8;
}
.group9 {
    grid-column: 9;
}
.group10 {
    grid-column: 10;
}
.group11 {
    grid-column: 11;
}
.group12 {
    grid-column: 12;
}
.group13 p, .group14 p, .group15 p, .group16 p, .group17 p, .group18 p {
    background-color: rgb(253, 255, 113);
}

.group13 {
    grid-column: 13;
}
.group14 {
    grid-column: 14;
}
.group15 {
    grid-column: 15;
}
.group16 {
    grid-column: 16;
}
.group17 {
    grid-column: 17;
}
.group18 {
    grid-column: 18;
}

.lanthanides p, .actinides p{
    background-color: rgb(198, 247, 125)
}

.lanthanides {
    grid-row: 9;
}
.actinides {
    grid-row:10;
}

.new-element {
    background-color: ivory;
    text-align: center;
    height: 79px;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    line-height: 80px;
    margin: 0 1px 1px 0;
}

.new-element::after {
    content: "" attr(data-element-symbol) "";
}

.new-ele-bdr {
    background-color: black;
    width: 75px;
    height: 80px;
    margin: -1px 0 0 1px;
    padding: 1px 0 0 1px;
    font-size: 1.2em;
    position: relative;
    top: calc(100% / 2 - 40px);
    left: calc(100% / 2 - 39px);
    text-align: center;
}

.new-ele-bdr::after {
    content: "" attr(data-element-name)"";
    font-size: 0.8em;
    font-weight: 600;
    color: #000000;
}

.alert-box {
    position: fixed;
    background-color: white;
    top: calc(100% / 2 - 250px);
    left: calc(100% / 2 - 250px);
    text-align: center;
    height: auto;
    width: 500px;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(139, 139, 139, 0.5);
    box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.6);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alert-box > h3 {
    width:100%;
    text-align:left;
    letter-spacing: 1px;
    padding: 10px 10px;
    box-sizing: border-box;
}

.alert-box > ul {
    width: 80%;
    line-height: 9px;
    text-align: left;
    padding: 10px 0;
    box-sizing: border-box;
    
}
.alert-box > p {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0 15px;
    box-sizing: border-box;
}

.alert-box a:link {
    color: red;
    text-decoration: none;
}
.alert-box a:visited {
    color: red;
}
.alert-box i {
    font-size: 2em;
    padding: 0 5px;
}

.underlay {
    background-color: rgba(0, 0, 0, 0.507);
    position:fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 98;
}

.underlay::after {
    content: '';
    display: table;
    clear: both;
}

@media only screen and (max-width: 1024px){
    .game-area{
        margin-top: 5%;
    }
    .periodic-table {
        grid-template-rows: repeat(7, 55px) 20px 55px 55px;
        grid-template-columns: repeat(18, 50px);
        grid-gap: 0.35em;
        padding: 15px 7px 15px 7px;
    }
    
    .element-tile {
        width: 50px;
        height: 55px;
        font-size: 1.2em;
    }
    
    
    .element-tile p {
        height: 54px;
        font-size: 1.7em;
        font-weight: 700;
        line-height: 60px;
    }

    .question-area {
        left: calc(100% / 2 - 240px);
        top: calc(50% - 314px);
    }

    .information-bar {
        box-sizing: border-box;
        padding: 15px 10px 10px 10px;
    }

    .btn {
        width: 120px;
        font-size: 1.1em;
    }

    .toolbar {
        right: 125px;
    }

    .toolbar > i {
        font-size: 2.5em;
    }

    .element-tile::after {
    content: "" attr(data-element-number) "";
    font-size: 0.75em;
    font-weight: 500;
    color: #000000;
    position: relative;
    bottom: calc(50% + 31px);
    left: 1px;
    }
    .score-area > p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 812px){
    .game-area{
        margin-top: 0;
    }
    .periodic-table {
        grid-template-rows: repeat(7, 35px) 4px 35px 35px;
        grid-template-columns: repeat(18, 35px);
        grid-gap: 0.35em;
        padding: 2px 7px 2px 7px;
        border-radius: 5px;
    }
    
    .element-tile {
        width: 35px;
        height: 35px;
        font-size: 0.9em;
    }
    
    
    .element-tile p {
        height: 34px;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 35px;
        padding-top: 1px;
        box-sizing: border-box;
    }

    .question-area {
        left: calc(100% / 2 - 200px);
        top: calc(50% - 180px);
        height: 103px;
        width: 158px;
        border-radius: 20px;
    }

    .information-bar {
        box-sizing: border-box;
        padding: 0 3px 0 5px;
        top: -88px;
        max-height: 100px;
    }
    .controls-area {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 2px 0 0;
    }

    .btn {
        height: 27px;
        width: 79px;
        font-size: 0.7em;
        font-weight: 600;
        text-align: left;
        margin-bottom: 2px;
        box-sizing: border-box;
        padding: 0px 3px;
    }

    .btn > i {
        padding-right: 4px;
    }

    .toolbar {
        right: 125px;
        right: 97px;
    }

    .toolbar > i {
        font-size: 1.6em;
        padding: 5px 4px 5px 8px;
    }

    .element-tile::after {
    font-size: 0.75em;
    font-weight: 500;
    color: #000000;
    position: relative;
    top: calc(50% - 56px);
    left: 1px;
    }
    .score-area > p {
        font-size: 1em;
        font-weight: 600;
        padding-left: 5px;
    }

    .new-ele-bdr {
        background-color: black;
        width: 60px;
        height: 60px;
        top: calc(100% / 2 - 34px);
        left: calc(100% / 2 - 32px);
    }

    .new-ele-bdr::after {
        font-size: 0.65em;
        font-weight: 400;
    }    

    .new-element {
        background-color: ivory;
        text-align: center;
        height: 59px;
        text-align: center;
        line-height: 60px;
    }

    .new-element::after {
        font-size: 0.9em;
        font-weight: 700;
    }    

    .score-area {
        border-radius: 5px;
        width: 80px;
        height: 50px;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        margin-top: 21px;
    }  

    .alert-box {
        top: calc(100% / 2 - 173px);
        left: calc(100% / 2 - 290px);
        width: 580px;
        line-height: 18px;
    }

    .btn--close {
        text-align: center;
        height: 30px;
        width: 100px;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    .alert-box > h1 {
        font-size: 1.4em;
        font-weight: 600;
    }
}
@media only screen and (max-width: 780px){
    .information-bar {
        top: -87px;
    }

    .btn{
        font-size: 0.65em;
        height: 27px;
        margin-bottom: 1.5px;
    } 
    .periodic-table{
    grid-template-rows: repeat(7, 33px) 4px 33px 33px;
    grid-template-columns: repeat(18, 35px);
    grid-gap: 0.35em;
    padding: 2px 7px 4px 7px;
    border-radius: 5px;
    }
    .score-area > p {
        font-size: 0.8em;
    }

    .element-tile::after {
        top: calc(50% - 55px);
    }

    .question-area {
        top: calc(50% - 174px);
    }

    .alert-box {
        top: calc(100% / 2 - 160px);
    }
}